@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #ed4b6f!default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// $table-text-align: left !default;

//Width of the content area
$content-width:    800px !default;
//
$on-palm:          600px !default;
$on-laptop:        800px !default;


// Import partials.
@import
  "experiment/reset",
  "experiment/syntax-highlighting",
  "experiment/layout",
  //componentes
  "experiment/modules/information-box",
  "experiment/modules/navbar",
  "experiment/modules/title",
  "experiment/modules/avatar",
  "experiment/modules/project_portafolio"
;
