.l-wrap {
  padding: $spacing-unit * 4;
  // min-height: $content-width - $content-width / 2;
  &:nth-child(odd) {
    background-color: $grey-color-light;
  }
  @media screen and (max-width: 1000px ) {
    padding: $spacing-unit * 2 0;
  }
}

.l-around {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.l-content {
  h3 {
    @media screen and (max-width: $on-palm) {
      font-size: 1.2em;
    }
  }
}

.l-center-column {
  align-items: center;
  display: flex;
  flex-flow: column;
}

.l-center-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.l-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
