.navbar {
  box-shadow: 0 0 0.2em $grey-color;
  position: fixed;
  text-align: right;
  background-color: $purple-color;
  width: 100%;
  z-index: 10;
  .navbar-item {
    padding: $spacing-unit / 2;
    text-transform: uppercase;
    & > a {
      font-weight: bold;
      padding: 0 $spacing-unit / 2;
    }
    & > a:hover {
      color: $grey-color-light;
    }
  }
}
