.head-post {
  border: none;
  & > h1 {
    color: $brand-color;
    font-size: 45px;
    font-weight: bold;
    @media screen and (max-width: $on-palm) {
      font-size: 2em;
    }
  }
}

.post {
  padding: $spacing-unit $spacing-unit * 8;
  margin: $spacing-unit 0;
  border: none;
  font-size: 20px;

  @media screen and (max-width: 800px) {
    padding: $spacing-unit ;
  }
}
