$items: 4;
$transition-duration: 0.5s;
$transition-delay: 0.05s;


.item-container-project {
  background-color: $background-color;
  margin: $spacing-unit;
  width: 400px;
  height: 285px;
  @media screen and (max-width: $on-phone) {
    width: 300px;
    height: 180px;
  }

  .item-project {
    background-size: cover;
    background-image: url('../assets/example.png');
    height: 215px;
    @media screen and (max-width: $on-phone) {
      height: 115px;
    }
  }

  .content-hamburger-menu {
    width: 400px;
    height: 285px;
    box-shadow: 0 0 1em $grey-color;
    position: relative;
    top: -215px;
    overflow: hidden;
    @media screen and (max-width: $on-phone) {
      height: 180px;
      top: -115px;
      width: 300px;
    }

    .information-project {
      width: 100%;
      height: 70px;
      background-color: $purple-color;
      display: block;
      bottom: 0px;
      position: absolute;
      @media screen and (max-width: $on-phone) {
        height: 30px;
      }
      h3 {
        color: $brand-color;
        text-align: end;
        margin: 15px 15px 0 0;
        @media screen and (max-width: $on-phone) {
          font-size: 17px;
          margin: 0 5px 0 0;
        }
      }
    }

    #toggle {
      position: absolute;
      visibility: hidden;
    }

    // Styles for the 'open' state, if the checkbox is checked
    #toggle:checked {
    // Any element you need to change the style if menu is open goes here, using the sibling selector (~) as follows
      // Making the "X" icon using `:before` and `:after` pseudo-elements
      & ~ .toggle-container .button-toggle {
        box-shadow: 0 0 0 450px $purple-color-transparent, inset 0 0 0 20px $purple-color-transparent;
        &:before {
          transform: translateY(50%) rotate(45deg) scale(1);
        }
        &:after {
          transform: translateY(-50%) rotate(-45deg) scale(1);
        }
      }

      // Open nav
      & ~ .nav {
        transform: translate(130px, -130px);
        // Restoring nav items from "lines" in the menu icon
        .nav-item {
          color: $brand-color;
          letter-spacing: 0;
          height: 40px;
          line-height: 40px;
          margin-top: 0;
          opacity: 1;
          transform: scaleY(1);
          transition: $transition-duration, opacity 0.1s;
          // Hiding the lines
          &:before {
            opacity: 0;
          }
        }
      }
    }

    .button-toggle {
      position: absolute;
      top: 215px;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 25px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      border-radius: 100%;
      transition: $transition-duration + 0.1;
      z-index: 1;
      @media screen and (max-width: 400px) {
        top: 128px;
      }

      // Making the "X" icon using `:before` and `:after` pseudo-elements
      // Initially hidden because `scale(0)` transformation

      &:before, &:after {
        position: absolute;
        content: '';
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $brand-color;
        border-radius: 5px;
        transition: $transition-duration;
      }

      &:before {
        transform: translateY(50%) rotate(45deg) scale(0);
      }

      &:after {
        transform: translateY(-50%) rotate(-45deg) scale(0);
      }
    }

    .nav {
      display: inline-block;
      position: relative;
      top: 215px;
      margin: 25px 25px 20px;
      // Don't want pointer-events as menu is closed
      pointer-events: none;
      transition: $transition-duration;
      z-index: 1;
      @media screen and (max-width: 400px) {
        top: 132px;
      }

      // Showing nav items as lines, making up the hamburger menu icon
      .nav-item {
        position: relative;
        display: inline-block;
        float: left;
        clear: both;
        color: transparent;
        font-size: 14px;
        letter-spacing: -6.2px;
        height: 7px;
        line-height: 7px;
        text-transform: uppercase;
        white-space: nowrap;
        transform: scaleY(0.2);
        transition: $transition-duration, opacity 1s;

        // Setting delays for the nav items in close transition
        @for $i from 1 through $items {
          &:nth-child(#{$i}) {
            $delay: ($i - 1) * $transition-delay;
            transition-delay: $delay;
            &:before {
              transition-delay: $delay;
            }
          }
        }

        // Adjusting width for the first line
        &:nth-child(1) {
          letter-spacing: -8px;
        }

        // Adjusting width for the second line
        &:nth-child(2) {
          letter-spacing: -7px;
        }

        // Adjusting from the fourth element onwards
        &:nth-child(n + 4) {
          letter-spacing: -8px;
          margin-top: -7px;
          opacity: 0;
        }

        // Getting the lines for the hamburger menu icon
        &:before {
          position: absolute;
          content: '';
          top: 50%;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $brand-color;
          transform: translateY(-50%) scaleY(5);
          transition: $transition-duration;
        }
      }
    }
  }
}
